<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517811355221-lupda5j2oe6fh0s3hajs2fc5shnsv6c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517811355221-lupda5j2oe6fh0s3hajs2fc5shnsv6c1</string>
	<key>API_KEY</key>
	<string>AIzaSyAlWEsBiZK1qJqSKpQqcn_838ktgmDWYBg</string>
	<key>GCM_SENDER_ID</key>
	<string>517811355221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gautamshivramesh.EasyHangouts</string>
	<key>PROJECT_ID</key>
	<string>easyhangouts-3576c</string>
	<key>STORAGE_BUCKET</key>
	<string>easyhangouts-3576c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517811355221:ios:fe0fe46a52a494a2515edc</string>
	<key>DATABASE_URL</key>
	<string>https://easyhangouts-3576c.firebaseio.com</string>
</dict>
</plist>